---
import avatar from "../assets/avatar.jpg";
---

<script>
  // Check current page is not Homepage otherwise show Back Home button
  function getCurrentURL() {
    return window.location.href;
  }
  const url = getCurrentURL();
  const { host, hostname, href, origin, pathname, port, protocol } =
    window.location;
  if (pathname.replace(/\//, "") == "portfolio") {
    document.getElementById("home_btn").style.display = "none";
  } else {
    document.getElementById("home_btn").style.display = "block";
  }
  //console.log(pathname.replace(/\//, ""));
</script>

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="/portfolio" class="image avatar"
      ><img src={avatar.src} alt="Avatar Picture" /></a
    >
    <h1 class="disable-click">
      <strong>Hello,</strong> my name is Tim <br />
      <p>I'm a web developer</p>
      <span>I love creating beautiful user experiences.</span>
    </h1>

    <div id="home_btn" style="padding-top: 20px;">
      <a href="/portfolio">
        <i class="fas fa-house" style="color: #FAF7F9;"></i>
      </a>
    </div>
  </div>
</header>
